body
{
  background-color: #090e17;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.timer
{
  font-family: "Barlow Condensed",sans-serif;
	font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: left;
}
